* {
    margin: 0;
    padding: 0
}

body{
    display: flex;
    background-color: #F5F5F5;
}

div {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: row;
    background-color: #F5F5F5;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 32px;
    background-color: #F5F5F5;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #EF5F4C;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6C6C6C;
}

nav {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}