* {
    margin: 0;
    padding: 0
}

body{
    display: flex;
    background-color: #F5F5F5;
    flex-direction: column;
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 32px;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #EF5F4C;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6C6C6C;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
}

aside {
    min-width: 280px;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: #FFF;
}

footer p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6C6C6C;
}

.container-photos {
    background-color: #FFF;
    padding-top: 24px;
}
.container-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.logo-title {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: row;
    background-color: #F5F5F5;
}

.biography {
    max-width: 425px;
    color: #6C6C6C;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bio-container {
    display: flex;
    gap: 32px;
    flex-direction: row;
}

.bio-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6C6C6C;
}

.bio-title {
    align-self: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #313131;
}

aside .container-row:nth-last-child(-n+3) p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6C6C6C;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 16px;
    padding-bottom: 16px;
}
ul li img {
    width: 286px;
    height: 286px;
}